@import "/reset.css";

body {
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.canvas {
    height: 300px;
    width: 300px;

    border-radius: 10px;
    box-shadow: 0 8px 10px -6px grey;
    stroke: wheat;
    border: solid 1px rgba(219, 219, 219, 0.431);
    background-color: white;
}